@tailwind base;
@tailwind components;
@tailwind utilities;


body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@font-face {
  font-family: light;
  src: url("../public/fonts/FiraGO-Light.ttf");
}

@font-face {
  font-family: fsemibold;
  src: url("../public/fonts/FiraGO-SemiBold.ttf");
}

@font-face {
  font-family: book;
  src: url("../public/fonts/FiraGO-Book.ad15ecab.ttf");
}

h1 {
  font-family: fsemibold !important;
  font-feature-settings: "case" on;

}

.selectInput {
  font-family: fsemibold !important;
  font-feature-settings: "case" on;
}


p,
input,
button, textarea {
  font-family: book;
  font-feature-settings: "case" on;

}




::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(3, 44, 95, 1);
  }


  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .bounce {
    animation: bounce 1.2s infinite ease-in-out;
  }

  .mySwiper {
    display: flex;
  }
  
  .mySwiper .swiper-pagination-horizontal {
    z-index: 100 !important;
  }
  
  .mySwiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 1;
    background-color: white;
    border: 1px solid white;
    position: relative;
}

/* Active bullet with outer border */
.mySwiper .swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    top: -5px;  /* Half of the extra border width */
    left: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid white;
}


.filter::-webkit-scrollbar {
  width: 4px;
}

.topFilter::-webkit-scrollbar {
  height: 2px;
}

.filter::-webkit-scrollbar-thumb {
  background-color: rgba(3, 44, 95, 1);
  border-radius: 10px;
  margin-bottom: 10px;
}

.filter::-webkit-scrollbar-track {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 10px;
  margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes shimmer {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px 0;
  }
}

.shimmer {
  background: linear-gradient(90deg, #f8f8f8 25%, #f1f0f0 50%, #f8f8f8 75%);
  background-size: 300px 100%;
  animation: shimmer 1.8s infinite linear;
}


.ProseMirror {
  outline: none;
}


.editor ul {
  list-style-type: disc; 
  padding-left: 20px; 
}

.editor ol {
  list-style-type: decimal; 
  padding-left: 20px; 
}

.editor blockquote {
  margin: 1em 0;
  padding-left: 20px;  /* Adds indent on the left side */
}


.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff; /* Default color */
  animation: l5 1s infinite linear alternate;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

@keyframes l5 {
  0% {
    box-shadow: 20px 0 #fff, -20px 0 var(--loader-color, rgba(0, 0, 0, 1));
    background: #fff;
  }
  33% {
    box-shadow: 20px 0 #fff, -20px 0 var(--loader-color, rgba(0, 0, 0, 1));
    background: var(--loader-color, rgba(0, 0, 0, 1)); 
  }
  66% {
    box-shadow: 20px 0 var(--loader-color, rgba(0, 0, 0, 1)), -20px 0 #fff;
    background: var(--loader-color, rgba(0, 0, 0, 1));
  }
  100% {
    box-shadow: 20px 0 var(--loader-color, rgba(0, 0, 0, 1)), -20px 0 #fff;
    background: #fff;
  }
}


.PhoneInputInput {
  outline: none;
  height: 44px;
  padding-left: 12px;
  font-size: 14px;
}

.custom-slide .inner-slide-content {
  transform: scale(0.9);
  transition: all 0.4s ease;
  filter: brightness(0.6);
}

/*
 * When the slide is active, we scale the inner div up.
 */
.swiper-slide-active .inner-slide-content {
  transform: scale(1);
  filter: brightness(1);
}

/*
 * Optional side slides more faded.
 */
.swiper-slide-next .inner-slide-content,
.swiper-slide-prev .inner-slide-content {
  filter: brightness(0.6);
  transform: scale(0.9);
}

@keyframes scaleUp {
  0% { transform: scale(0.8); }
  50% { transform: scale(1.1); }
  100% { transform: scale(0.8); }
}

.animate-scale {
  animation: scaleUp 1.5s ease-in-out infinite;
}
